*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:  monospace;
}
.appWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a1a1a;
    width:100%;
    height:100vh;
}
.appbackground{
    
    width:30rem;
    height:50rem;
    background-image: linear-gradient(to bottom right, #1F1C2C, #403B4A );
    background-color: gradient;
    border-radius: 77px;
    
}
.blank{
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchBar{
    display: block;
    margin: 5rem;
    padding:0;
    
   
}
#search-bar{
    border-radius: 10px;
    border-style: none;
    height:2rem;
    width:15rem;
    padding-left: 10px;
    box-shadow: 0 3px 10px rgb(1 1 1 / 0.9);
    background-color:#9FA4C4;
    
}
#search-button{
    border-radius: 10px;
    border-style: none;
    height:2rem;
    width:4rem;
    box-shadow: 0 3px 10px rgb(1 1 1 / 0.9);
    background-color: #9FA4C4;
    cursor: pointer;

}
#search-button:hover{
    background-color: #ee6f35;
    
}

.placeholder{
    padding-left: 10px;
    color: beige;
    
}
.historyBtn{
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.historyBtn button{
    margin-top: 1rem;
    border-radius: 10px;
    border-style: none;
    height:2rem;
    width:5rem;
    box-shadow: 0 3px 10px rgb(1 1 1 / 0.9);
    background-color: #9FA4C4;
    cursor: pointer;
    padding: 0 5px 0 5px;
}    
.historyBtn button:hover{
    background-color: #ee6f35;
} 
 .historyCard{
    
    position: absolute;
    width:30rem;
    height:20rem;
    background-image: linear-gradient(to bottom right, #1F1C2C, #403B4A  );
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px 50px 50px 20px;
    box-shadow: 0 3px 10px rgb(1 1 1 / 0.9);
    display: none;
    

} 
.locationWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.data{
    margin-top: -3rem;
}
.location{
    display: inline;
    font-size: 1.5rem;
    margin-top: rem;
    text-shadow: 0 3px 10px rgb(1 1 1 / 0.5);
    color:#9FA4C4;
}
.degreesWrapper{
    display: flex;
    align-items: center;
    justify-content: center;

}
.weatherIconWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.weatherIcon{
    display: inline;
    text-shadow: 0 3px 10px rgb(1 1 1 / 0.5);
    
}
.iconDescriptionWrapper{
    display: flex;
    align-items: center;
    justify-content: center;

}

.iconDescription{
    display: inline;
    text-shadow: 0 3px 10px rgb(1 1 1 / 0.5);
    color:#9FA4C4;
}
.weatherIcon img{
    height:15rem;
    height: 15rem;
    margin-bottom: -2rem;
    
}
.degrees{
    font-size: 4rem;
    margin-bottom: -3rem;
    text-shadow: 0 3px 10px rgb(1 1 1 / 0.5);
    color:#9FA4C4;
}
.DayForecastWrapper{
    position: absolute;
    height:5rem;
    width:100%;
    background-image: linear-gradient(to bottom right, #1F1C2C, #403B4A  );
    display: flex;
    align-items: center;
    justify-content: center;
    width:30rem;
    height: 20rem;
    border-radius: 50px 20px 50px 50px;
    margin-top: 30rem;
    box-shadow: 0 3px 10px rgb(1 1 1 / 0.9);
}
.firstDescript{
    padding-top: 10px;
    font-size: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:beige;
}
.one{
    display: inline-block;
    border-radius: 20px 20px 20px 50px;
    height: 8rem;
    width:8rem;
    background-color: #9FA4C4;

}
.firstDayWrapper{
    display: inline-block;
}
.firstDay{
    color:beige;
    display: flex;
    align-items: center;
    justify-content: center;
}
.secondDayWrapper{
    display: inline-block;
    
}
.secondDay{
    display: flex;
    align-items: center;
    justify-content: center;
    color:beige;

}
.two{
    display: inline-block;
    border-radius: 20px 5px 5px 20px;
    
    height: 6rem;
    width:6rem;
    background-color: #9FA4C4;

}
.two img{
    height: 6rem;
    width:6rem;
}
.secondDescript{
    padding-top: 10px;
    font-size: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:beige;
}
.thirdDayWrapper{
    display: inline-block;
    
}
.thirdDay{
    display: flex;
    align-items: center;
    justify-content: center;
    color:beige;

}
.three{
    display: inline-block;
    border-radius: 5px 20px 20px 5px;
    height: 6rem;
    width:6rem;
    background-color: #9FA4C4;

}
.three img{
    height: 6rem;
    width:6rem;

}
.thirdDescript{
    padding-top: 10px;
    font-size: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:beige;
}
.fourthDayWrapper{
    display: inline-block;
    
}
.fourthDay{
    display: flex;
    align-items: center;
    justify-content: center;
    color:beige;

}

.four{
    display: inline-block;
    border-radius: 20px 20px 50px 20px;
    height: 6rem;
    width:6rem;
    background-color: #9FA4C4;
    

}
.four img{
    height: 6rem;
    width:6rem;
}
.fourthDescript{
    padding-top: 10px;
    font-size: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:beige;
}
.historyCard form{
    display: flex;
    align-items: center;
    justify-content: center;

}
button.remove{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    border-style: none;
    height:1rem;
    width:4rem;
    box-shadow: 0 3px 10px rgb(1 1 1 / 0.9);
    background-color: #9FA4C4;
    cursor: pointer;
    padding: 0 5px 0 5px;

}
button.remove:hover{
background-color:#403B4A;
}
#exit{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    margin:auto;
    display: none;

    border-radius: 10px;
    border-style: none;
    height:2rem;
    width:5rem;
    box-shadow: 0 3px 10px rgb(1 1 1 / 0.9);
    background-color: #ee6f35;
    cursor: pointer;
    padding: 0 5px 0 5px;
    
}
#exit:hover{
   background-color:#9FA4C4;

}

.exitWapper{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15rem;
}
.exitbtn{
    display: flex;
    align-items: center;
    justify-content: center;
}
#searchHistory{
   
    cursor: pointer;
    width: auto;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-style: none;
    text-align: center;
    background-color: #ee6f35;

}
#searchHistory:hover{
    background-color: #9FA4C4;
}
.historyCard form{
    margin-top: 1rem;
    
}
